* {
    box-sizing: border-box;
    }
  html * {
      font-family: 'Rubik', sans-serif;
      background-color: #ffffff;
  }
  
  body,p,h1,h2,h3,h4,h5 {
    color: rgb(40, 40, 40);
    line-height: 1.5;
  }
  
  body,p {
    font-weight: 300;
    font-size: 16px;
  }
  #h1l {
    font-weight: 300;
  }

  a {
    color: rgb(40, 40, 40);
    font-weight: 300;
    text-decoration: none;
  }
  a:hover {
    text-decoration:underline;
  }

  #card {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 8px #e7e7e7, -5px -5px 8px #f3f3f3;
    margin: 10px;
    padding: 10px;
  }
  
  #box {
    border-radius: 10px;
    background: #ffffff;
    margin: 10px;
    padding: 10px;
  }
  
  th {
    border: 1px solid;
    border-color: rgb(180, 180, 180);
    border-collapse: collapse;
    background-color: #e7e7e7; 
    height: 30px;
    text-align: left;
    padding-left: 5px;
    padding-right: 30px;
    color: rgb(81, 81, 81);
  }
  table, td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: rgb(180, 180, 180);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 30px;
    color: rgb(81, 81, 81);
  }
  
  .col-xs {width: 18%;}
  .col-sm {width: 36%;}
  .col-md {width: 47% !important;}
  .col-lg {width: 76%;}
  .col-xl {width: 98%;}
  
  [class*="col-"] {
    float: left;
    padding: 10px;
    border: 0px solid red;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
    }

#navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-right: 0px;
  box-shadow: -1px 9px 40px -7px rgba(0,0,0,0.75);
  z-index: 50;
}

#navbar img {
  background-color: rgb(0, 0, 0);
  padding-top: 5px;
  padding-left: 5px;
}

#navbar a {
  background-color: #000000;
  float: right;
  display: block;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #000000;
  float: right;
  display: block;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  text-decoration: underline;
}

#navbar span {
  background-color: #000000;
  color:#ffffff;
}
#navbar span:hover {
  background-color: #000000;
  color:#7720b9;
  text-decoration: underline;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#icon {
  background-color: #000000;
  color:#ffffff;
  position: relative;
  size: 8px;
  top: 5px;
  left: 0px;
  padding-left: 5px;
}

#page-center {
  padding-left: 20%;
}
#spacing-5{
  padding-left: 5%;
}
#spacing-20{
  padding-left: 20%;
}

input {
  width: 75%;
  padding: 10px;
  border-radius: 5px;
}

.button {
  background-color: #000000; /* Green */
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #ffffff; /* Green */
  color: rgb(0, 0, 0);
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

#alert {
  padding-left: 20%;
  background-color: #7720b9;
}

.img-resp {
  max-width:100%;
}

#footer {
  overflow: hidden;
  width: 100%;
  top: 0px;
  left: 0px;
  box-shadow: -1px -13px 40px -7px rgba(0,0,0,0.75);
  z-index: 50;
}

#footer img {
  padding-top: 5px;
  padding-left: 5px;
}

#footer p{
  font-size: 12px;
}

hr {
  border-top: 1px dashed #bfbfbf;
  margin-right: 5%;
  margin-left: 5%;
}

code {
  font-family: monospace;
  background: #dddddd;
    border-radius: 0.4rem;
    font-size: 86%;
    margin: 0 0.2rem;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
}

#side-menu{
  position: fixed;
  top: 100px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5px 5px 8px #e7e7e7, -5px -5px 8px #f3f3f3;
  margin: 10px;
  padding: 10px;
  width: 15%;
}
#side-menu hr {
  border-top: 1px solid #e1e1e1;
}

