* {
    box-sizing: border-box;
    }
  html * {
      font-family: 'Rubik', sans-serif;
      background-color: #ffffff;
  }
  
  body,p,h1,h2,h3,h4,h5 {
    color: rgb(40, 40, 40);
  }
  
  body,p {
    font-weight: 300;
  }
  
  #card {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 8px #e7e7e7, -5px -5px 8px #f3f3f3;
    margin: 10px;
    padding: 10px;
  }
  
  #box {
    border-radius: 10px;
    background: #ffffff;
    margin: 10px;
    padding: 10px;
  }
  
  th {
    border: 1px solid;
    border-color: rgb(180, 180, 180);
    border-collapse: collapse;
    background-color: #e7e7e7; 
    height: 30px;
    text-align: left;
    padding-left: 5px;
    padding-right: 30px;
    color: rgb(81, 81, 81);
  }
  table, td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: rgb(180, 180, 180);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 30px;
    color: rgb(81, 81, 81);
  }
  
  #icon {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000;
  }
  
  a:link {
    color: #6600cc;
  }
  
  a:visited {
    color: rgb(128, 128, 128);
  }
  
  a:hover {
    color: #c4a2e6;
  }
  
  a:active {
    color: #2d0158;
  } 
  
  .col-xs {width: 18%;}
  .col-sm {width: 36%;}
  .col-md {width: 47%;}
  .col-lg {width: 76%;}
  .col-xl {width: 98%;}
  
  [class*="col-"] {
    float: left;
    padding: 10px;
    border: 0px solid red;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
    }

#navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-right: 0px;
  box-shadow: 1px 6px 45px -24px rgba(0,0,0,1);
  z-index: 50;
}

#navbar img {
  background-color: rgb(0, 0, 0);
  padding-top: 5px;
  padding-left: 5px;
}

#navbar a {
  background-color: #000000;
  float: right;
  display: block;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #000000;
  float: right;
  display: block;
  color: #7720b9;
  padding: 15px;
  text-align: center;
  text-decoration: underline;
}

#navbar span {
  background-color: #000000;
  color:#ffffff;
}
#navbar span:hover {
  background-color: #000000;
  color:#7720b9;
  text-decoration: underline;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}