 /* Style the navbar */
 #navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 99%;
    position: fixed;
    top: 0px;
    padding-right: 5px;
    box-shadow: 1px 6px 45px -24px rgba(0,0,0,1);
    z-index: 50;
  }
  #subnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 52%;
    position: fixed;
    top: 70px;
    left: 25%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 51;
  }
  /* Navbar links */
  #navbar a {
    float: right;
    display: block;
    color: #7720b9;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  #navbar a:hover {
    float: right;
    display: block;
    color: #353535;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

    #fotter {
      overflow: hidden;
      background-color: rgb(255, 255, 255);
      width: 99%;
      top: 0px;
      padding-right: 5px;
      box-shadow: -1px -5px 45px -24px rgb(118, 117, 117);
    }

    #fotter p{
      padding-left: 20px;
      font-size: 12px;
      text-align: center;
    }

    #fotter img{
      position: center;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }

     /* The alert message box */
     #alert {
      background-color: rgb(251, 183, 183);
      position: fixed;
      top: 80px;
      left: 25%;
      border-radius: 5px;
      width: 50%;
      padding: 10px;
      z-index: 52;
     }
  
  /* The close button */
.closebtn {
  margin-left: 15px;
  color: rgb(21, 21, 21);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: rgb(160, 160, 160);
  } 

  .screen {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 10px;
  }